[submodule "api"]
	path = api
	url = https://github.com/aquasecurity/harbor-scanner-trivy
[submodule "db"]
	path = db
	url = https://github.com/aquasecurity/trivy-db
[submodule "helm"]
	path = ci_cd/helm
	url = https://github.com/EricRoux/trivy_helm